@charset "UTF-8";
@font-face {
  font-family: 'CircularStd-Medium';
  src: url("font/CircularStd-Medium.eot");
  src: url("font/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Medium.woff") format("woff"), url("font/CircularStd-Medium.ttf") format("truetype"), url("font/CircularStd-Medium.svg#CircularStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CircularStd-Book';
  src: url("font/CircularStd-Book.eot");
  src: url("font/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Book.woff") format("woff"), url("font/CircularStd-Book.ttf") format("truetype"), url("font/CircularStd-Book.svg#CircularStd-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CircularStd-Bold';
  src: url("font/CircularStd-Bold.eot");
  src: url("font/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Bold.woff") format("woff"), url("font/CircularStd-Bold.ttf") format("truetype"), url("font/CircularStd-Bold.svg#CircularStd-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CircularStd-Black';
  src: url("font/CircularStd-Black.eot");
  src: url("font/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Black.woff") format("woff"), url("font/CircularStd-Black.ttf") format("truetype"), url("font/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Semi';
  src: url("font/ChronicleDisplay-Semi.eot");
  src: url("font/ChronicleDisplay-Semi.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Semi.woff") format("woff"), url("font/ChronicleDisplay-Semi.ttf") format("truetype"), url("font/ChronicleDisplay-Semi.svg#ChronicleDisplay-Semi") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Bold';
  src: url("font/ChronicleDisplay-Bold.eot");
  src: url("font/ChronicleDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Bold.woff") format("woff"), url("font/ChronicleDisplay-Bold.ttf") format("truetype"), url("font/ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Light';
  src: url("font/ChronicleDisplay-Light.eot");
  src: url("font/ChronicleDisplay-Light.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Light.woff") format("woff"), url("font/ChronicleDisplay-Light.ttf") format("truetype"), url("font/ChronicleDisplay-Light.svg#ChronicleDisplay-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Black';
  src: url("font/ChronicleDisplay-Black.eot");
  src: url("font/ChronicleDisplay-Black.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Black.woff") format("woff"), url("font/ChronicleDisplay-Black.ttf") format("truetype"), url("font/ChronicleDisplay-Black.svg#ChronicleDisplay-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot?5828576");
  src: url("font/fontello.eot?5828576#iefix") format("embedded-opentype"), url("font/fontello.woff2?5828576") format("woff2"), url("font/fontello.woff?5828576") format("woff"), url("font/fontello.ttf?5828576") format("truetype"), url("font/fontello.svg?5828576#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5828576#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\e800'; }

/* '' */
.icon-facebook:before {
  content: '\e801'; }

/* '' */
.icon-linkedin:before {
  content: '\e802'; }

/* '' */
.icon-youtube-play:before {
  content: '\e803'; }

/* '' */
.icon-instagram:before {
  content: '\e804'; }

/* '' */
.icon-angle-double-left:before {
  content: '\f100'; }

/* '' */
.icon-angle-double-right:before {
  content: '\f101'; }

/* '' */
/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
body {
  background: #fff;
  font-family: "ChronicleDisplay-Semi";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0; }

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; }

header .top {
  background: url(../images/headerCorporativo.gif) repeat-x center bottom;
  display: none; }
  header .top .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
    header .top .container .login ul {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      header .top .container .login ul:after {
        content: "";
        display: table;
        clear: both; }
      header .top .container .login ul li {
        float: left;
        padding: .5em;
        font-size: .85em;
        font-weight: bold;
        color: #000; }
        header .top .container .login ul li:first-child {
          padding-right: 0; }
        header .top .container .login ul li i {
          font-size: 1.5em; }
        header .top .container .login ul li a.falabella {
          background: url(../images/sprite-headerCorporativo.png) no-repeat 0px 0px;
          display: block;
          width: 50px;
          height: 20px; }
header .bottom .container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 1em 10px; }
  header .bottom .container nav ul:after {
    content: "";
    display: table;
    clear: both; }
  header .bottom .container nav ul li {
    float: left;
    padding: 1.5em;
    color: #000;
    font-size: 1.3em; }
    header .bottom .container nav ul li a {
      color: #000;
      font-size: .85em; }
  header .bottom .container .redes ul li {
    display: inline-block; }
    header .bottom .container .redes ul li a.fb {
      color: #3b5998; }
    header .bottom .container .redes ul li a.tw {
      color: #55acee; }
    header .bottom .container .redes ul li a.inst {
      color: #125688; }

.slider .container {
  overflow: hidden; }
  .slider .container ul.slides li {
    position: relative; }
    .slider .container ul.slides li .redes {
      position: absolute;
      right: 1.4em;
      bottom: 3.2em; }
      .slider .container ul.slides li .redes ul li {
        display: inline-block;
        padding: 0 .37em; }
        .slider .container ul.slides li .redes ul li a {
          color: #fff; }

.main .container .back {
  color: #808080;
  display: block;
  text-align: left;
  padding: 1em 0 0 0;
  text-decoration: underline;
  line-height: 150%; }
  .main .container .back i {
    font-size: 1.2em; }
.main .container h1 {
  text-align: center;
  color: #EDC1BF;
  text-decoration: underline; }
.main .container ul.section:after {
  content: "";
  display: table;
  clear: both; }
.main .container ul.section li {
  width: 32%;
  float: left;
  margin: 0 2% 2% 0;
  text-align: center; }
  .main .container ul.section li:last-child {
    margin-right: 0; }
  .main .container ul.section li a {
    display: block;
    min-height: 400px;
    color: #fff;
    font-family: "CircularStd-Bold";
    position: relative;
    background: rgba(0, 0, 0, 0.6); }
    .main .container ul.section li a:hover {
      background: rgba(0, 0, 0, 0.2); }
      .main .container ul.section li a:hover span {
        text-shadow: 0 2px 10px #000000;
        transform: translateY(50%);
        transition: transform ease .3s; }
    .main .container ul.section li a span {
      font-family: "ChronicleDisplay-Bold";
      letter-spacing: -2px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 27%;
      font-size: 2.8em;
      transform: translateY(0%);
      transition: transform ease .3s; }
  .main .container ul.section li:nth-child(1) {
    background: url(../images/section-01.jpg) no-repeat center center; }
  .main .container ul.section li:nth-child(2) {
    background: url(../images/section-02.jpg) no-repeat center center; }
  .main .container ul.section li:nth-child(3) {
    background: url(../images/section-03.jpg) no-repeat center center; }
.main .container ul.category:after {
  content: "";
  display: table;
  clear: both; }
.main .container ul.category li {
  width: 32%;
  float: left;
  border: 5px solid #EDC1BF;
  margin: 2em 2% 2em 0;
  box-sizing: border-box; }
  .main .container ul.category li:hover {
    background: #EDC1BF; }
    .main .container ul.category li:hover a {
      color: #fff; }
  .main .container ul.category li:last-child {
    margin-right: 0; }
  .main .container ul.category li a {
    color: #EDC1BF;
    padding: .7em 1em;
    font-size: 1.7em;
    font-family: "ChronicleDisplay-Black";
    display: block;
    text-align: center; }
.main .container ul.buttons {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  background: #EDEDED;
  padding: 1em 0;
  margin: 1em 0; }
.main .container .legal {
  display: flex;
  align-items: center;
  padding: 1em 0; }
  .main .container .legal:after {
    content: "";
    display: table;
    clear: both; }
  .main .container .legal span {
    float: left;
    display: block;
    font-family: 'helvetica', arial, serif; }
    .main .container .legal span.left {
      width: 25%;
      font-size: 2.2em;
      color: #4D5255; }
    .main .container .legal span.right {
      width: 75%;
      font-size: .6em; }
.main.agenda .container {
  text-align: center;
  font-family: "ChronicleDisplay-Bold"; }
  .main.agenda .container h2 {
    color: #9B8A7A;
    font-size: 2em; }
  .main.agenda .container h4 {
    color: #808080;
    font-family: "CircularStd-Book"; }
  .main.agenda .container ul.cat {
    padding-bottom: 2em; }
    .main.agenda .container ul.cat li {
      border: 7px solid #EDC1BF;
      margin: 2em 0;
      padding: 1.5em 1em;
      box-sizing: border-box; }
      .main.agenda .container ul.cat li:hover {
        background: #EDC1BF; }
        .main.agenda .container ul.cat li:hover a {
          color: #fff; }
      .main.agenda .container ul.cat li h1 {
        font-size: 2.4em; }
        .main.agenda .container ul.cat li h1 span {
          display: block;
          font-size: .5em;
          color: #8F9194; }
      .main.agenda .container ul.cat li a {
        color: #EDC1BF; }
  .main.agenda .container #tabs ul.ui-tabs-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .main.agenda .container #tabs ul li {
    border: 4px solid #EDC1BF;
    margin: 2em 0;
    box-sizing: border-box;
    float: left;
    width: 18.4%;
    margin-right: 2%; }
    .main.agenda .container #tabs ul li a {
      color: #EDC1BF;
      text-transform: uppercase;
      display: block;
      padding: .8em 1em; }
      .main.agenda .container #tabs ul li a:hover {
        background: #EDC1BF;
        color: #fff; }
    .main.agenda .container #tabs ul li:last-child {
      margin-right: 0; }
  .main.agenda .container #tabs .box .title {
    background: #EDC1BF;
    color: #fff;
    padding: .5em 0; }
  .main.agenda .container #tabs .box ul:after {
    content: "";
    display: table;
    clear: both; }
  .main.agenda .container #tabs .box ul li {
    width: 23.5%;
    height: 380px;
    float: left;
    margin: 0 2% 1em 0;
    padding: .5em;
    text-align: left;
    box-sizing: border-box;
    border-color: #9B8A7A;
    position: relative;
    overflow: hidden; }
    .main.agenda .container #tabs .box ul li:nth-child(4n) {
      margin-right: 0; }
    .main.agenda .container #tabs .box ul li .hover {
      position: absolute;
      top: 0;
      left: 0;
      background: #9B8A7A;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      z-index: 999;
      transform: translateX(100%);
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .main.agenda .container #tabs .box ul li .hover span.horario {
        font-size: 1.7em; }
      .main.agenda .container #tabs .box ul li .hover span.border {
        background: #fff;
        height: 1px;
        width: 25%;
        margin: 1em auto; }
      .main.agenda .container #tabs .box ul li .hover span.telef {
        font-family: "CircularStd-Medium";
        font-size: 1.2em; }
    .main.agenda .container #tabs .box ul li span {
      display: block; }
      .main.agenda .container #tabs .box ul li span.brand {
        font-family: "ChronicleDisplay-Light";
        text-transform: uppercase;
        font-size: 1.5em; }
      .main.agenda .container #tabs .box ul li span.date {
        font-family: "ChronicleDisplay-Black";
        font-size: 2em;
        color: #9B8A7A;
        padding: 10px 0; }
      .main.agenda .container #tabs .box ul li span.text, .main.agenda .container #tabs .box ul li span.note {
        font-family: "CircularStd-Book";
        font-size: .85em; }
      .main.agenda .container #tabs .box ul li span.note {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .5em;
        font-size: .65em;
        color: #808080; }
    .main.agenda .container #tabs .box ul li.show .hover {
      transform: translateX(0%); }
.main.tratamientos .container {
  text-align: center; }
  .main.tratamientos .container h1 {
    color: #EDC1BF;
    text-decoration: underline;
    font-family: "ChronicleDisplay-Bold"; }
  .main.tratamientos .container ul.products:after {
    content: "";
    display: table;
    clear: both; }
  .main.tratamientos .container ul.products li {
    width: 18.4%;
    height: 500px;
    float: left;
    margin: 0 2% 5% 0;
    box-sizing: border-box;
    position: relative; }
    .main.tratamientos .container ul.products li:nth-child(5n) {
      margin-right: 0; }
    .main.tratamientos .container ul.products li span {
      display: block;
      color: #808080; }
      .main.tratamientos .container ul.products li span.brand {
        font-family: "CircularStd-Book";
        text-transform: uppercase;
        padding: .5em 0; }
      .main.tratamientos .container ul.products li span.excerpt {
        color: #9B8A7A;
        font-family: "ChronicleDisplay-Bold";
        font-size: 1.5em;
        height: 140px; }
        .main.tratamientos .container ul.products li span.excerpt .oferta {
          background: url(../images/oferta.png) no-repeat 20px top;
          /*
           * Set a counter and get the length of the image path.
           */
          /*
           * Loop ver the image path and figure out the
           * position of the dot where the extension begins.
           */
          /*
           * If we were able to figure out where the extension is,
           * slice the path into a base and an extension. Use that to
           * calculate urls for different density environments. Set
           * values for different environments.
           */
          /*
           * Set a base background for 1x environments.
           */
          background: url("../images/2x/oferta.png") 0 top no-repeat;
          background-size: 80% 100%;
          /*
           * Create an @2x-ish media query.
           */
          /*
           * Create media queries for all environments that the user has
           * provided images for.
           */
          /*
           * If anything went wrong trying to separate the file from its
           * extension, set a background value without doing anything to it.
           */
          color: red;
          font-family: "ChronicleDisplay-Bold";
          font-style: italic;
          font-size: 1em;
          padding: .9em 0 0 0; }
          @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
            .main.tratamientos .container ul.products li span.excerpt .oferta {
              background: url("../images/2x/oferta@2x.png") 0 top no-repeat;
              background-size: 80% 100%; } }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .main.tratamientos .container ul.products li span.excerpt .oferta {
              background: url("../images/2x/oferta@2x.png") 0 top no-repeat;
              background-size: 80% 100%; } }
          @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
            .main.tratamientos .container ul.products li span.excerpt .oferta {
              background: url("../images/2x/oferta@3x.png") 0 top no-repeat;
              background-size: 80% 100%; } }
      .main.tratamientos .container ul.products li span.sku {
        font-family: "CircularStd-Book";
        font-size: .6em; }
      .main.tratamientos .container ul.products li span.price {
        color: #D4ADAC;
        font-size: 1.4em;
        font-family: "ChronicleDisplay-Bold";
        padding: .5em 0; }
        .main.tratamientos .container ul.products li span.price.ofert {
          padding: 0;
          font-size: 1em;
          font-family: "CircularStd-Book"; }
          .main.tratamientos .container ul.products li span.price.ofert.normal {
            color: #808080; }
      .main.tratamientos .container ul.products li span.buy {
        font-family: "CircularStd-Medium";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0; }
        .main.tratamientos .container ul.products li span.buy a {
          display: block;
          background: #231F20;
          color: #fff;
          padding: .5em;
          width: 50%;
          margin: 0 auto; }
          .main.tratamientos .container ul.products li span.buy a:hover {
            opacity: .8; }

.footer {
  background: #EDEDED; }
  .footer .brands {
    padding: 2em 0;
    text-align: center; }
    .footer .brands li {
      display: inline-block;
      padding: 0 .5em; }

#box-eventos,
#box-fragancias,
#box-makeup {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  z-index: 9999; }
  #box-eventos .mensaje,
  #box-fragancias .mensaje,
  #box-makeup .mensaje {
    border: 5px solid #92817A;
    width: 548px;
    text-align: center;
    line-height: 180%;
    color: #4c4c4c; }
    #box-eventos .mensaje .contenedor,
    #box-fragancias .mensaje .contenedor,
    #box-makeup .mensaje .contenedor {
      position: relative;
      padding: 2em; }
      #box-eventos .mensaje .contenedor img.close,
      #box-fragancias .mensaje .contenedor img.close,
      #box-makeup .mensaje .contenedor img.close {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer; }
      #box-eventos .mensaje .contenedor h1,
      #box-fragancias .mensaje .contenedor h1,
      #box-makeup .mensaje .contenedor h1 {
        color: #92817A; }
      #box-eventos .mensaje .contenedor h4,
      #box-fragancias .mensaje .contenedor h4,
      #box-makeup .mensaje .contenedor h4 {
        color: #808080;
        font-family: "CircularStd-Book";
        font-weight: 100; }
      #box-eventos .mensaje .contenedor ul,
      #box-fragancias .mensaje .contenedor ul,
      #box-makeup .mensaje .contenedor ul {
        text-align: center; }
        #box-eventos .mensaje .contenedor ul li,
        #box-fragancias .mensaje .contenedor ul li,
        #box-makeup .mensaje .contenedor ul li {
          display: inline-block; }
