@media screen and (max-width: 414px) {
  header .bottom .container {
    flex-direction: column; }

  .banner .container img {
    width: 100%; }

  .main.agenda .container #tabs ul li {
    width: 100%;
    margin: 1em 0; }
  .main.agenda .container #tabs .box ul li {
    width: 49%;
    margin-right: 2%; }
    .main.agenda .container #tabs .box ul li:nth-child(2n) {
      margin-right: 0; } }
@media screen and (max-width: 320px) {
  .main.agenda .container #tabs .box ul li {
    width: 100%;
    margin-right: 0%; }
    .main.agenda .container #tabs .box ul li:nth-child(2n) {
      margin-right: 0; } }
