@font-face {
  font-family: 'CircularStd-Medium';
  src: url("font/CircularStd-Medium.eot");
  src: url("font/CircularStd-Medium.eot?#iefix") format('embedded-opentype'),
    url("font/CircularStd-Medium.woff") format('woff'),
    url("font/CircularStd-Medium.ttf") format('truetype'),
    url("font/CircularStd-Medium.svg#CircularStd-Medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-Book';
  src: url("font/CircularStd-Book.eot");
  src: url("font/CircularStd-Book.eot?#iefix") format('embedded-opentype'),
    url("font/CircularStd-Book.woff") format('woff'),
    url("font/CircularStd-Book.ttf") format('truetype'),
    url("font/CircularStd-Book.svg#CircularStd-Book") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-Bold';
  src: url("font/CircularStd-Bold.eot");
  src: url("font/CircularStd-Bold.eot?#iefix") format('embedded-opentype'),
    url("font/CircularStd-Bold.woff") format('woff'),
    url("font/CircularStd-Bold.ttf") format('truetype'),
    url("font/CircularStd-Bold.svg#CircularStd-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-Black';
  src: url("font/CircularStd-Black.eot");
  src: url("font/CircularStd-Black.eot?#iefix") format('embedded-opentype'),
    url("font/CircularStd-Black.woff") format('woff'),
    url("font/CircularStd-Black.ttf") format('truetype'),
    url("font/CircularStd-Black.svg#CircularStd-Black") format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ChronicleDisplay-Semi';
  src: url("font/ChronicleDisplay-Semi.eot");
  src: url("font/ChronicleDisplay-Semi.eot?#iefix") format('embedded-opentype'),
    url("font/ChronicleDisplay-Semi.woff") format('woff'),
    url("font/ChronicleDisplay-Semi.ttf") format('truetype'),
    url("font/ChronicleDisplay-Semi.svg#ChronicleDisplay-Semi") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChronicleDisplay-Bold';
  src: url("font/ChronicleDisplay-Bold.eot");
  src: url("font/ChronicleDisplay-Bold.eot?#iefix") format('embedded-opentype'),
    url("font/ChronicleDisplay-Bold.woff") format('woff'),
    url("font/ChronicleDisplay-Bold.ttf") format('truetype'),
    url("font/ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChronicleDisplay-Light';
  src: url("font/ChronicleDisplay-Light.eot");
  src: url("font/ChronicleDisplay-Light.eot?#iefix") format('embedded-opentype'),
    url("font/ChronicleDisplay-Light.woff") format('woff'),
    url("font/ChronicleDisplay-Light.ttf") format('truetype'),
    url("font/ChronicleDisplay-Light.svg#ChronicleDisplay-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChronicleDisplay-Black';
  src: url("font/ChronicleDisplay-Black.eot");
  src: url("font/ChronicleDisplay-Black.eot?#iefix") format('embedded-opentype'),
    url("font/ChronicleDisplay-Black.woff") format('woff'),
    url("font/ChronicleDisplay-Black.ttf") format('truetype'),
    url("font/ChronicleDisplay-Black.svg#ChronicleDisplay-Black") format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?5828576');
  src: url('font/fontello.eot?5828576#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?5828576') format('woff2'),
       url('font/fontello.woff?5828576') format('woff'),
       url('font/fontello.ttf?5828576') format('truetype'),
       url('font/fontello.svg?5828576#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5828576#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */