@import 'font';
@import 'retina';

//MIXIN
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
//VARS
$negro: #000;
$blanco: #fff;

$book: 'CircularStd-Book';
$medium: 'CircularStd-Medium';
$bold: 'CircularStd-Bold';
$black: 'CircularStd-Black';
$font2_semibold: 'ChronicleDisplay-Semi';
$font2_bold: 'ChronicleDisplay-Bold';
$font2_light: 'ChronicleDisplay-Light';
$font2_black: 'ChronicleDisplay-Black';

$text: #2488c5;


body {
	background: #fff;
	// font-family: $medium;
	font-family: $font2_semibold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

// RESET
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.container {
	width: 100%;
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

header {
	.top {
		// background: #FDFCFC;
		background: url(../images/headerCorporativo.gif) repeat-x center bottom;
		display: none;
		.container {
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
			.login {
				ul {
					display: -webkit-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					@include clearfix;
					li {
						float: left;
						padding: .5em;
						font-size: .85em;
						font-weight: bold;
						color: $negro;
						&:first-child {
							padding-right: 0;
						}
						i {
							font-size: 1.5em;
						}
						a {
							&.falabella {
								background: url(../images/sprite-headerCorporativo.png) no-repeat 0px 0px;
								display: block;
								width: 50px;
								height: 20px;
							}
						}
					}
				}
			}
		}
	}
	.bottom {
		.container {
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-webkit-align-items: center;
			align-items: center;
			padding: 1em 10px;
			nav {
				ul {
					@include clearfix;
					li {
						float: left;
						padding: 1.5em;
						color: $negro;
						font-size: 1.3em;
						a {
							color: $negro;
							// font-weight: bold;
							font-size: .85em;
						}
					}
				}
			}
			.redes {
				ul {
					li {
						display: inline-block;
						a {
							&.fb {
								color: #3b5998;
							}
							&.tw {
								color: #55acee;
							}
							&.inst {
								color: #125688;
							}
						}
					}
				}
			}
		}
	}
}

.slider {
	.container {
		overflow: hidden;
		ul {
			&.slides {
				li {
					position: relative;
					.redes {
						position: absolute;
						right: 1.4em;
						bottom: 3.2em;
						ul {
							li {
								display: inline-block;
								padding: 0 .37em;
								a {
									color: $blanco;
								}
							}
						}
					}
				}
			}
		}
	}
}

.main {
	.container {
		.back {
			color: #808080;
			display: block;
			text-align: left;
			padding: 1em 0 0 0;
			text-decoration: underline;
			line-height: 150%;
			i {
				font-size: 1.2em;
			}
		}
		h1 {
			text-align: center;
			color: #EDC1BF;
			text-decoration: underline;
		}
		ul {
			&.section {
				@include clearfix();
				li {
					width: 32%;
					float: left;
					margin: 0 2% 2% 0;
					text-align: center;
					&:last-child {
						margin-right: 0;
					}
					a {
						display: block;
						min-height: 400px;
						color: $blanco;
						font-family: $bold;
						position: relative;

						background: rgba(0,0,0,0.6);
						&:hover {
							background: rgba(0,0,0,0.2);
							span {
								text-shadow: 0 2px 10px #000000;
								transform: translateY(50%);
								transition: transform ease .3s;
							}
						}
						span {
							font-family: $font2_bold;
							letter-spacing: -2px;
							@include center();
							height: 27%;
							font-size: 2.8em;
							transform: translateY(0%);
							transition: transform ease .3s;
						}
					}
					&:nth-child(1) {
						background: url(../images/section-01.jpg) no-repeat center center;
						// @include retina('../images/2x/section-01.jpg', 3, 100% 100%, center center no-repeat);
					}
					&:nth-child(2) {
						background: url(../images/section-02.jpg) no-repeat center center;
						// @include retina('../images/2x/section-02.jpg', 3, 100% 100%, center center no-repeat);
					}
					&:nth-child(3) {
						background: url(../images/section-03.jpg) no-repeat center center;
						// @include retina('../images/2x/section-03.jpg', 3, 100% 100%, center center no-repeat);
					}
				}
			}
			&.category {
				@include clearfix();
				li {
					width: 32%;
					float: left;
					border: 5px solid #EDC1BF;
					margin: 2em 2% 2em 0;
					// padding: 1.5em 1em;
					box-sizing: border-box;
					&:hover {
						background: #EDC1BF;
						a {
							color: $blanco;
						}
					}
					&:last-child {
						margin-right: 0;
					}
					a {
						color: #EDC1BF;
						padding: .7em 1em;
						font-size: 1.7em;
						font-family: $font2_black;
						display: block;
						text-align: center;
					}
				}
			}
			&.buttons {
				display: flex;
				display: -webkit-flex;
				-webkit-justify-content: space-around;
				justify-content: space-around;
				-webkit-align-items: center;
				align-items: center;

				background: #EDEDED;
				padding: 1em 0;
				margin: 1em 0;
			}
		}
		.legal {
			display: flex;
			align-items: center;

			padding: 1em 0;
			@include clearfix();
			span {
				float: left;
				display: block;
				font-family: 'helvetica', arial, serif;
				&.left {
					width: 25%;
					font-size: 2.2em;
					color: #4D5255;
				}
				&.right {
					width: 75%;
					font-size: .6em;
				}
			}
		}
	}
	&.agenda {
		.container {
			text-align: center;
			font-family: $font2_bold;
			// .back {
			// 	color: #808080;
			// 	display: block;
			// 	text-align: left;
			// 	padding: 1em 0 0 0;
			// 	text-decoration: underline;
			// 	line-height: 150%;
			// 	i {
			// 		font-size: 1.2em;
			// 	}
			// }
			h2 {
				color: #9B8A7A;
				font-size: 2em;
			}
			h4 {
				color: #808080;
				font-family: $book;
				// font-size: 2em;
			}
			ul.cat {
				padding-bottom: 2em;
				li {
					border: 7px solid #EDC1BF;
					margin: 2em 0;
					padding: 1.5em 1em;
					box-sizing: border-box;
					&:hover {
						background: #EDC1BF;
						a {
							color: $blanco;
						}
					}
					h1 {
						font-size: 2.4em;
						span {
							display: block;
							font-size: .5em;
							color: #8F9194;
						}
					}
					a {
						color: #EDC1BF;
					}
				}
			}
			#tabs {
				ul {
					// @include clearfix();
					&.ui-tabs-nav {
						display: -webkit-flex;
						display: flex;
						-webkit-justify-content: space-between;
						justify-content: space-between;
					}
					li {
						border: 4px solid #EDC1BF;
						margin: 2em 0;
						// padding: 1.5em 1em;
						box-sizing: border-box;
						float: left;
						width: 18.4%;
						margin-right: 2%;
						a {
							color: #EDC1BF;
							text-transform: uppercase;
							display: block;
							padding: .8em 1em;
							&:hover {
								background: #EDC1BF;
								color: $blanco;
							}
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
				.box {
					.title {
						background: #EDC1BF;
						color: $blanco;
						padding: .5em 0;
					}
					ul {
						@include clearfix();
						li {
							width: 23.5%;
							height: 380px;
							float: left;
							margin: 0 2% 1em 0;
							padding: .5em;
							text-align: left;
							box-sizing: border-box;
							border-color: #9B8A7A;
							
							position: relative;
							overflow: hidden;
							&:nth-child(4n) {
								margin-right: 0;
							}
							.hover {
								// display: none;
								position: absolute;
								top: 0;
								left: 0;
								background: #9B8A7A;
								width: 100%;
								height: 100%;
								text-align: center;
								color: #fff;
								z-index: 999;

								transform: translateX(100%);
								-webkit-transition: all ease .5s;
								transition: all ease .5s;

								display: flex;
								flex-direction: column;
								justify-content: center;
								span {
									&.horario {
										font-size: 1.7em;
									}
									&.border {
										background: $blanco;
										height: 1px;
										width: 25%;
										margin: 1em auto
									}
									&.telef {
										font-family: $medium;
										font-size: 1.2em;
									}
								}
							}
							span {
								display: block;
								&.brand {
									font-family: $font2_light;
									text-transform: uppercase;
									font-size: 1.5em;
								}
								&.date{
									font-family: $font2_black;
									font-size: 2em;
									color: #9B8A7A;
									padding: 10px 0;
								}
								&.text,
								&.note {
									font-family: $book;
									font-size: .85em;
								}
								&.note {
									position: absolute;
									bottom: 0;
									left: 0;
									padding: .5em;
									font-size: .65em;
									color: #808080;
								}
							}
							&.show {
								.hover {
									transform: translateX(0%);
								}
							}
						}
					}
				}
			}
		}
	}
	&.tratamientos {
		.container {
			text-align: center;
			h1 {
				color: #EDC1BF;
				text-decoration: underline;
				font-family: $font2_bold;
			}
			ul {
				&.products {
					@include clearfix();
					li {
						width: 18.4%;
						height: 500px;
						float: left;
						margin: 0 2% 5% 0;
						box-sizing: border-box;
						position: relative;
						&:nth-child(5n) {
							margin-right: 0;
						}
						span {
							display: block;
							color: #808080;
							&.brand {
								font-family: $book;
								text-transform: uppercase;
								padding: .5em 0;
							}
							&.excerpt {
								color: #9B8A7A;
								font-family: $font2_bold;
								font-size: 1.5em;
								height: 140px;
								// overflow-y: scroll;
								.oferta {
									background: url(../images/oferta.png) no-repeat 20px top;
									@include retina('../images/2x/oferta.png', 3, 80% 100%, 0 top no-repeat);
									color: red;
									font-family: $font2_bold;
									font-style: italic;
									font-size: 1em;
									padding: .9em 0 0 0;
								}
							}
							&.sku {
								font-family: $book;
								font-size: .6em;
							}
							&.price {
								color: #D4ADAC;
								font-size: 1.4em;
								font-family: $font2_bold;
								padding: .5em 0;
								&.ofert {
									padding: 0;
									font-size: 1em;
									font-family: $book;
									&.normal {
										color: #808080;
									}
								}
							}
							&.buy {
								font-family: $medium;
								position: absolute;
								right: 0;
								bottom: 0;
								left: 0;
								a {
									display: block;
									background: #231F20;
									color: $blanco;
									padding: .5em;
									width: 50%;
									margin: 0 auto;
									&:hover {
										opacity: .8;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	background: #EDEDED;
	.brands {
		padding: 2em 0;
		text-align: center;
		li {
			// float: left;
			display: inline-block;
			padding: 0 .5em;
		}
	}
}



// AGREGADOS ÚLTIMOS
#box-eventos,
#box-fragancias,
#box-makeup {
	display: none;
	background: rgba(0255, 255, 255, 0.9);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	z-index: 9999;
	.mensaje {
		border: 5px solid #92817A;
		width: 548px;
		text-align: center;
		line-height: 180%;
		color: #4c4c4c;
		.contenedor {
			position: relative;
			padding: 2em;
			img.close {
				position: absolute;
				right: 15px;
				top: 15px;
				cursor: pointer;
			}
			h1 {
				color: #92817A;
			}
			h4 {
				color: #808080;
				font-family: $book;
				font-weight: 100;
			}
			ul {
				text-align: center;
				li {
					display: inline-block;
				}
			}
		}
	}
}































