//COLOR
$hover : #632a79;
$blanco: #ffffff;
//FONTS

//MIXINS
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//$width-name: max-device-width;
$width-name: max-width;
$tablet: 768px;
$iPhone6P: 414px;
$iPhone6: 375px;
$iPhone5: 320px;

@media screen and ($width-name : $iPhone6P) {

	header {
		.bottom {
			.container {
				flex-direction: column;
			}
		}
	}


	.banner {
		.container {
			img {
				width: 100%;
			}
		}
	}

	.main {
		&.agenda {
			.container {
				#tabs {
					ul {
						li {
							width: 100%;
							margin: 1em 0;
						}
					}
					.box {
						ul {
							li {
								width: 49%;
								margin-right: 2%;
								&:nth-child(2n) {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : $iPhone5) {


	.main {
		&.agenda {
			.container {
				#tabs {
					.box {
						ul {
							li {
								width: 100%;
								margin-right: 0%;
								&:nth-child(2n) {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}



}